@model IEnumerable<LibraryApplication.Genre>

@{
    ViewData["Title"] = "Index";
}
@section FixedBar{
    @foreach (var g in DataForFixedBar.Genres)
    {
        <a asp-area="" asp-controller="Home" asp-action="GenreFilter" asp-route-id="@g.Id">@g.Name</a>
    }
    <h2 style="margin: 0.15em 0 0.1em 0.1em; color: #343434; font-size: 20px; font-weight: normal; text-transform: uppercase; font-family: 'Orienta', sans-serif; letter-spacing: 1px;">Автори за країною</h2>
    @foreach (var c in DataForFixedBar.Countries)
    {
        <a asp-area="" asp-controller="Home" asp-action="CountryFilter" asp-route-id="@c.Id">@c.Name</a>
    }
}
<style>
    .layer1 {
        background-color: #18999011;
        padding: 10px;
    }

    .layer2 {
        background-color: #408fbd11;
        margin-top: 10px;
        padding: 20px;
    }
</style>

<div align="center" class="layer1">
    <h1>Жанри</h1>
    <p>
        @if (User.IsInRole("admin"))
        {
            <a asp-action="Create">Додати новий</a>
            }
    </p>
</div>
<div class="layer2">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink((string)@item.Name, "Details", "Genres", new { id = (int)@item.Id }, null)
                    </td>
                    <td>
                        @if (User.IsInRole("admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
