@model IEnumerable<LibraryApplication.Genre>

@{
    ViewData["Title"] = "Index";
}

<style>
    .layer1 {
        background-color: #18999011;
        padding: 10px;
    }

    .layer2 {
        background-color: #408fbd11;
        margin-top: 10px;
        padding: 20px;
    }
</style>

<div align="center" class="layer1"><h1>Жанри</h1>
<p>
    <a asp-action="Create">Додати новий</a>
</p>
    </div>
<div class="layer2">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Name != "Без жанру")
            {
                <tr>
                    <td>
                        @Html.ActionLink((string)@item.Name, "Details", "Genres", new { id = (int)@item.Id }, null)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> 
                    </td>
                </tr>
            }
            @if (item.Name == "Без жанру")
            {
                <tr>
                    <td>
                        @Html.ActionLink((string)@item.Name, "Details", "Genres", new { id = (int)@item.Id }, null)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Випадкова література без жанру</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>
