@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@section FixedBar{  @foreach (var g in DataForFixedBar.Genres)
    {
        <a asp-area="" asp-controller="Home" asp-action="GenreFilter" asp-route-id="@g.Id">@g.Name</a>
    }
<h2 style="margin: 0.15em 0 0.1em 0.1em; color: #343434; font-size: 20px; font-weight: normal; text-transform: uppercase; font-family: 'Orienta', sans-serif; letter-spacing: 1px;">Автори за країною</h2>
@foreach (var c in DataForFixedBar.Countries)
{
    <a asp-area="" asp-controller="Home" asp-action="CountryFilter" asp-route-id="@c.Id">@c.Name</a>
}
}

<h2>Список ролей</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Видалити
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-action="UserList">Список користувачів</a>
