@model IEnumerable<LibraryApplication.Models.User>

@section FixedBar{  @foreach (var g in DataForFixedBar.Genres)
    {
        <a asp-area="" asp-controller="Home" asp-action="GenreFilter" asp-route-id="@g.Id">@g.Name</a>
    }
<h2 style="margin: 0.15em 0 0.1em 0.1em; color: #343434; font-size: 20px; font-weight: normal; text-transform: uppercase; font-family: 'Orienta', sans-serif; letter-spacing: 1px;">Автори за країною</h2>
@foreach (var c in DataForFixedBar.Countries)
{
    <a asp-area="" asp-controller="Home" asp-action="CountryFilter" asp-route-id="@c.Id">@c.Name</a>
}
}

<h2>Список користувачів</h2>
<a asp-area="" asp-controller="Account" asp-action="Create">Додати користувача</a>
<table class="table">
    @foreach (var user in Model)
    {
    <tr>
        <td>@user.Email</td>
        <td>
            <a asp-action="Edit" asp-route-userid="@user.Id">Права доступу</a>
        </td>
        <td>
            <form asp-area="" asp-controller="Account" asp-action="Delete" asp-route-id="@user.Id" method="post">
                <a asp-area="" asp-controller="Account" asp-action="Edit" asp-route-id="@user.Id">Редагувати</a>
                <a asp-area="" asp-controller="Account" asp-action="ChangePassword" asp-route-id="@user.Id">Змінити пароль</a>
                <button type="submit" class="btn btn-sm btn-danger">
                    Видалити
                </button>
            </form>
        </td>
    </tr>
    }
</table>