@model LibraryApplication.Author

@{
    ViewData["Title"] = "Details";
}
@section FixedBar{
    @foreach (var g in DataForFixedBar.Genres)
    {
        <a asp-area="" asp-controller="Home" asp-action="GenreFilter" asp-route-id="@g.Id">@g.Name</a>
    }
    <h2 style="margin: 0.15em 0 0.1em 0.1em; color: #343434; font-size: 20px; font-weight: normal; text-transform: uppercase; font-family: 'Orienta', sans-serif; letter-spacing: 1px;">Автори за країною</h2>
    @foreach (var c in DataForFixedBar.Countries)
    {
        <a asp-area="" asp-controller="Home" asp-action="CountryFilter" asp-route-id="@c.Id">@c.Name</a>
    }
}
<style>
    .layer1 {
        background-color: #b614c411;
        padding: 10px;
    }

    .layer2 {
        background-color: #78471011;
        margin-top: 10px;
        padding: 20px;
    }

    .layer3 {
        background-color: #14c4a411;
        margin-top: 10px;
        padding: 20px;
    }

    li {
        list-style-type: none;
    }
</style>

<div class="layer1" align="center">
    <h1>@Model.FirstName @Model.LastName</h1>
</div>

<div class="layer2">
    <p>Роки життя: @Model.BirthYear - @Model.DeathYear</p>
    <h2>@Html.DisplayNameFor(model => model.Info)</h2>
    <p>@Model.Info</p>
    <ul>
        <b>Країни, в яких жив автор:</b>
        @foreach (var item in ViewBag.ThisCountries)
        {
            <li>@Html.ActionLink((string)@item.GetType().GetProperty("Name").GetValue(item, null), "Details", "Countries", new { id = (int)@item.GetType().GetProperty("Id").GetValue(item, null) }, null)</li>
        }
    </ul>
</div>
<div class="layer3">
    <ul>
        <b>Книжки автора:</b>
        @foreach (var item in ViewBag.ThisBooks)
        {
            <li>@Html.ActionLink((string)@item.GetType().GetProperty("Name").GetValue(item, null), "Details", "Books", new { id = (int)@item.GetType().GetProperty("Id").GetValue(item, null) }, null)</li>
        }
    </ul>
</div>

