@model IEnumerable<LibraryApplication.Author>

@{
    ViewData["Title"] = "Index";
}

<style>
    .layer1 {
        background-color: #14c4a411;
        padding: 10px;
    }

    .layer2 {
        background-color: #c771be11;
        margin-top: 10px;
        padding: 20px;
    }
</style>

<div class="layer1" align="center"><h1>Автори</h1>
<p>
    <a asp-action="Create">Додати автора</a>
</p>
    </div>
<div class="layer2">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.FirstName != "Автор" && item.LastName != "Невідомий")
            {
                <tr>
                    <td>
                        @Html.ActionLink((string)@item.FirstName + " " + @item.LastName, "Details", "Authors", new { id = (int)@item.Id }, null)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                    </td>
                </tr>
            }
            @if (item.FirstName == "Автор" && item.LastName == "Невідомий")
            {
                <tr>
                    <td>
                        @Html.ActionLink((string)@item.FirstName + " " + @item.LastName, "Details", "Authors", new { id = (int)@item.Id }, null)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Хроніки Невідомого Автора</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>